GITHUB_CLIENT_ID={GET_THIS_SECRET}
GITHUB_CLIENT_SECRET={GET_THIS_SECRET}

# This comes from the legacy Ruby app
LEGACY_SODIUM_SECRET_KEY={GET_THIS_SECRET}

# All Phoenix apps have a secret_key_base for sessions. see: http://phoenixframework.org/blog/sessions
# Run `mix phx.gen.secret` to generate a secret base key.
SECRET_KEY_BASE=ZnfvXfq91z5om0lWqBxlTce32/0vJqReJ8vngKJAtx8hyPIJpKhcZfDt//34oSAw